$primary-color: #2196F3;
$primary-color-light: #2196F3;
$primary-color-dark: #1976D2;
$accent-color: #FFD740;
$accent-color-light: #FFEE58;

$text-color-primary: #212121;
$text-color-secondary: #ffffff;

a {
  color: $accent-color;
}
