$roboto-font-path: '/bower_components/Materialize/font/roboto/';
$icons-font-path: '/bower_components/Materialize/font/material-design-icons/';

// bower:scss
@import "bower_components/Materialize/sass/materialize.scss";
// endbower

@import "_colors.scss";
@import "../components/main/main.scss";
@import "../components/_shared/nav/nav.scss";
@import "../components/_shared/footer/footer.scss";

@import "../components/player-list/player-card/player-card.scss";



html {
  color: $text-color-primary;
}

header {
  background-color: $primary-color;
  color: $text-color-secondary;
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
}

@media(min-width: 768px){
  .flex {
    flex-flow: row wrap;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
