$roboto-font-path: 'fonts/';
$icons-font-path: 'fonts/';


@import "_colors.scss";

// bower:scss
@import "bower_components/Materialize/sass/materialize.scss";
// endbower

@import "../components/main/main.scss";
@import "../components/shared/nav/nav.scss";
@import "../components/shared/footer/footer.scss";

@import "../components/player-list/player-list.scss";
@import "../components/player-card/player-card.scss";
@import "../components/player-form/player-form.scss";



html {
  color: $text-color-primary;
}

body {
  background-color: color('grey', 'lighten-4');
}

header {
  background-color: $primary-color;
  color: $text-color-secondary;
}

.flex {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
}

@media(min-width: 768px){
  .flex {
    flex-flow: row wrap;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
