<form class="col s12">
  <div class="card">
    <div class="card-content">

      <div class="row">  
          <div class="input-field col s4">
          <select>
            <option value="" disabled selected> League</option>
            <option value="bronze">Bronze</option>
            <option value="silver">Silver</option>
            <option value="gold">Gold</option>
            <option value="platinum">Platinum</option>
            <option value="diamond">Diamond</option>
            <option value="master">Master</option>
            <option value="grandmaster">Grandmaster</option>
          </select>
           </div>
          <div class="input-field col s4">
          <select>
            <option value="" disabled selected>Region</option>
            <option value="na">North America</option>
            <option value="eu">Europe</option>
            <option value="kr">Korea</option>
            <option value="sea">South-East Asia</option>
          </select>
          </div>
          <div class="input-field col s4">
          <input id="profileUrl" type="url" class="validate">
          <label class="inactive" for="profileUrl">Profile URL</label>
          </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Tell us what you're looking for</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>

    </div>
  </div>

</form>
