
<div class="card grey lighten-3" ng-hide="ctrl.auth">
  <div class="card-content black-text">
    <div class="row">
      <div class="col s12">
        <span class="heading">Your Player Info</span>
      </div>
    </div>

    <form name="playerForm" ng-submit="ctrl.login(playerForm.$valid)" novalidate>
      <div class="row">
        <div class="input-field col s6">
          <input id="name" name="name" type="text" placeholder="MojoJJ" ng-model="ctrl.playerForm.name" required maxlength="12" minlength="3" ng-pattern="/^[a-zA-Z0-9]*$/i">
          <label class="active" for="name">BNet Username</label>
        </div>
        <div class="input-field col s6">
          <input id="bnetid" name="bnetid" type="number" placeholder="153" ng-model="ctrl.playerForm.bnetid" max="10000" required>
          <label class="active" for="bnetid">BNet ID #</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <!-- <label>Race</label> -->
          <select class="browser-default" ng-model="ctrl.playerForm.race" required name="race" id="race">
            <option value="" disabled selected>Select Your Race</option>
            <option value="zerg">Zerg</option>
            <option value="terran">Terran</option>
            <option value="protoss">Protoss</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <input type="submit" class="waves-effect waves-light btn amber" value="Let's Play!">
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <h5 ng-if="ctrl.auth">You Are Logged In As</h5> -->
<player-card ng-cloak player="ctrl.player" self="true" ng-show="ctrl.auth"></player-card>

<div ng-show="ctrl.auth">
  <a class="btn" ng-click="ctrl.openModal()">Edit Info</a>
  <a class="btn" ng-click="ctrl.logout()">Logout</a>
</div>

<!-- Modal Structure -->
<div id="modalEdit" class="modal bottom-sheet grey lighten-3">
  <div class="modal-content black-text">
    <h4>Update Your Info</h4>
    <form name="updateForm" class="black-text" ng-submit="ctrl.updatePlayerInfo(updateForm.$valid)" novalidate>
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" placeholder="MojoJJ" ng-model="ctrl.updateForm.name" required maxlength="12" minlength="3" ng-pattern="/^[a-zA-Z0-9]*$/i">
          <label class="active" for="name">BNet Username</label>
        </div>
        <div class="input-field col s6">
          <input id="bnetid" type="number" placeholder="153" ng-model="ctrl.updateForm.bnetid" max="10000" required>
          <label class="active" for="bnetid">BNet ID #</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label class="active select-label">Your Race</label>
          <select class="browser-default" ng-model="ctrl.updateForm.race" required>
            <option value="" disabled selected>Select Your Race</option>
            <option value="zerg">Zerg</option>
            <option value="terran">Terran</option>
            <option value="protoss">Protoss</option>
          </select>

        </div>
        <div class="input-field col s6">
          <label class="active select-label">Your Highest Rank</label>
          <select class="browser-default" ng-model="ctrl.updateForm.league" required>
            <option value="" disabled selected>Select Your League</option>
            <option value="Rank Unknown">Rank Unknown</option>
            <option value="Bronze">Bronze</option>
            <option value="Silver">Silver</option>
            <option value="Gold">Gold</option>
            <option value="Platinum">Platinum</option>
            <option value="Diamond">Diamond</option>
            <option value="Master">Master</option>
            <option value="Grandmaster">Grandmaster</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="text" class="materialize-textarea" ng-model="ctrl.updateForm.text" length="120" maxlength="120"></textarea>
          <label class="active" for="text">Tell us something about yourself</label>
        </div>
      </div>
      <div class="modal-footer grey lighten-3">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        <input type="submit" class="waves-effect waves-green btn-flat" value="Update">
      </div>
    </form>
  </div>
</div>
