<section class="player-list">

  <div class="container">

    <!-- <div class="row">
      <div class="col s12">
        <h5>Filter by Class:</h5>
      </div>
    </div> -->

    <div class="row">
      <div class="col s12">
        <h5>Filter by Class:</h5>

        <ul class="tabs z-depth-1">
           <li class="tab col s3"><a class="active" href="#" ng-click="ctrl.filterPlayers('all')">All</a></li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('protoss')">Protoss</a></li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('terran')">Terran</a></li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('zerg')">Zerg</a></li>
         </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="flex" ui-view></div>
      </div>
    </div>
  </div>

</section>
