<section class="player-list">

  <div class="container">

    <!-- <div class="row">
      <div class="col s12">
        <h5>Filter by Class:</h5>
      </div>
    </div> -->

    <div class="row">
      <div class="col s12">
        <h5>Online Now:</h5>

        <ul class="tabs z-depth-1">
           <li class="tab col s3"><a class="active" href="#" ng-click="ctrl.filterPlayers('all')">All</a></li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('protoss')">
             <span class="race-name">Protoss</span><span class="race-name-small">Toss</span></a>
           </li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('terran')">
             <span class="race-name">Terran</span><span class="race-name-small">Ter</span></a>
           </li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('zerg')">
             <span class="race-name">Zerg</span><span class="race-name-small">Zer</span></a>
           </li>
           <li class="tab col s3"><a href="#" ng-click="ctrl.filterPlayers('random')">
             <span class="race-name">Random</span><span class="race-name-small">Rand</span></a>
           </li>
         </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <div class="flex" ui-view></div>
      </div>
    </div>
  </div>

</section>
