<nav>
  <navigation></navigation>
</nav>

<header>
  <div class="fill-overlay">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6">
          <!-- <h3 class="heading">Find your PERFECT Archon Mode partner</h3> -->
          <!-- <a class="waves-effect waves-light btn amber modal-trigger" href="#modal1">Modal</a>
          <a class="waves-effect waves-light btn amber" ng-hide="ctrl.auth" ng-click='ctrl.login()'>Login</a>
          <a class="waves-effect waves-light btn amber" ng-show="ctrl.auth" ng-click='ctrl.logout()'>Logout</a> -->
        </div>
        <div class="col s12 m6">

          <!-- <div ng-if="ctrl.auth">
            <player-card></player-card>
          </div> -->

          <player-form heading="Find your perfect ARCHON partner!"></player-form>

        </div>
      </div>

    </div>
  </div>
</header>

<main>


  <div ui-view></div>
</main>

<footer class="page-footer">
  <app-footer></app-footer>
</footer>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
