header {
  height: 400px;
  width: 100%;
  // background-image: url('../images/index.jpg');
  // background-position: center;
  // background-size: cover;
  background-color: $primary-color;
}

header .container,
header .row
{
  height: 100%;
}

header .heading {
  font-weight: 600;
  color: $text-color-primary;
  font-size: 18px;
}
