<nav>
  <navigation></navigation>
</nav>

<header>
  <div class="fill-overlay">
    <div class="container">
      <div class="row flex">
        <div class="col s12 m6 l8">
          <h3 class="heading white-text">Find your Archon Partner</h3>
          <p class="lead-in-text white-text">
            <ol class="lead-in-text">
              <li>Enter your player info and get listed</li>
              <li>Leave this site open, others will see you as 'Online'</li>
              <li>Your Archon partner will message you in-game</li>
            </ol>
          </p>
          <!-- <a class="waves-effect waves-light btn amber modal-trigger" href="#modal1">Modal</a>
          <a class="waves-effect waves-light btn amber" ng-hide="ctrl.auth" ng-click='ctrl.login()'>Login</a>
          <a class="waves-effect waves-light btn amber" ng-show="ctrl.auth" ng-click='ctrl.logout()'>Logout</a> -->
        </div>
        <div class="col s12 m6 l4">
          <player-form heading="Find your perfect ARCHON partner!"></player-form>
        </div>
      </div>

    </div>
  </div>
</header>

<main>
  <player-list></player-list>
</main>

<footer class="page-footer">
  <app-footer></app-footer>
</footer>
