<nav>
  <navigation></navigation>
</nav>


<header>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1>HEADER</h1>
      </div>
    </div>
  </div>
</header>



<main>
  <section>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <h2>Body</h2>
        </div>
      </div>
    </div>
  </section>
</main>



<footer>
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3>FOOTER</h3>
      </div>
    </div>
  </div>
</footer>
