<div class="nav-wrapper container">
  <a href="/" class="brand-logo">
    <!--<img src="/assets/images/powderkeg-logo.png" /-->
    <!-- img src="/assets/images/pkl-logo-header-orange.png" class="responsive-img" /-->
    <span class="full">Partners</span>
  </a>
  <ul class="right hide-on-med-and-down">
    <li><a ui-sref="player-list">Players</a></li>
    <li><a ui-sref="content-list">Content</a></li>
  </ul>

  <ul id="nav-mobile" class="side-nav">
    <li class="side-nav-brand flex">
      <!-- <a href="/"><img src="/assets/images/powderkeg-logo.png" class="responsive-img" /></a> -->
    </li>
    <li><a ui-sref="player-list">Players</a></li>
    <li><a ui-sref="content-list">Content</a></li>
  </ul>

  <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
</div>
