footer.page-footer {
  background-color: $primary-color;
}

footer.page-footer .footer-copyright {
  background-color: $primary-color-dark;
}

footer.page-footer .btn {
  background-color: lighten($primary-color, 10%);
}

footer p {
  font-size: 14px;
}
