
<div class="container">
  <div class="row">
    <div class="col l5 s12">
      <h5 class="white-text">It's Templar Looooove.</h5>
      <p class="grey-text text-lighten-4">Power Overwhelming is an open source project to help you find your potential archon partner. If you'd like to contribute, Power Overwhelming can be found on <a href="http://github.com/powderkeglabs/practice-partners">Github</a>.
      <br /><br />
      StarCraft is a trademark or registered trademark of Blizzard Entertainment, Inc., in the U.S. and/or other countries.</p>
    </div>
    <div class="col l5 s12">
      <h5 class="white-text">About Us</h5>
      <p class="grey-text text-lighten-4">If you have any questions, comments, suggestions or discussion topics, come find us on Reddit at <a href="http://www.reddit.com/r/poweroverwhelming">/r/poweroverwhelming</a>.
      </p>
    </div>
    <div class="col l2 s12" style="overflow: hidden;">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a href="http://www.reddit.com/r/poweroverwhelming">Contact</a></li>
        <li><a href="http://github.com/powderkeglabs/practice-partners">Github</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <span class="white-text">&copy; 2015 Power Overwhelming</span>
  </div>
</div>

      