<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">It's Templar Looooove.</h5>
      <p class="grey-text text-lighten-4">Find us on Reddit at <a href="">/r/poweroverwhelming</a>.</p>
      <p class="grey-text text-lighten-4">Starcrat 2 is a trademark of Blizzard Entertainment.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
        <li><a>Github</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <span class="white-text">&copy; 2015 Power Overwhelming</span>
  </div>
</div>
