<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Work With Us</h5>
      <p class="grey-text text-lighten-4"><a class="text-lighten-3" href="mailto:kaboom@powderkeglabs.com">kaboom@powderkeglabs.com</a></p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Links</h5>
      <ul>
        <li><a class="grey-text text-darken-1" href="/work.html">Case Studies</a></li>
        <li><a class="grey-text text-darken-1" href="/about.html">Our Team</a></li>
        <li><a class="grey-text text-darken-1" href="/blog">Blog</a></li>
        <li><a class="grey-text text-darken-1" href="/contact.html">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <span class="grey-text">&copy; 2015 PowderKeg Labs</span>
  </div>
</div>
