<div class="col s12 m4">
  <div class="card player-card blue-grey darken-1">
    <div class="card-content white-text">
      <span class="card-title">{{ctrl.name}}#{{ctrl.bnetid}} - {{ctrl.server}}</span>
      <p>{{ctrl.race}} - {{ctrl.league}}</p>
      <p>I am a very simple card. I am good at containing small bits of information.
      I am convenient because I require little markup to use effectively.</p>
    </div>
    <!-- <div class="card-action">
      <a href="#">This is a link</a>
      <a href="#">This is a link</a>
    </div> -->
  </div>
</div>
