<section class="player-list">

  <div class="container">
    <div class="row">
      <div class="col s12">
        <h4>Players Online</h4>
      </div>
    </div>

    <div class="row">

      <player-card name="MojoJJ" bnetid="1414" server="NA" race="Protoss" league="P" mode="1v1"></player-card>
      <player-card name="Flanksteak" bnetid="1414" server="NA" race="Protoss" league="P" mode="1v1"></player-card>
      <player-card name="Day9" bnetid="1414" server="SEA" race="Protoss" league="P" mode="1v1"></player-card>

      <player-card name="Stephano" bnetid="1414" server="EU" race="Protoss" league="P" mode="1v1"></player-card>
      <player-card name="BossToss" bnetid="1414" server="KR" race="Protoss" league="P" mode="1v1"></player-card>
      <player-card name="HuK" bnetid="1414" server="SEA" race="Protoss" league="P" mode="1v1"></player-card>

    </div>
  </div>

</section>
